In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from astropy.coordinates import SkyCoord as coord
import astropy.units as u

###  Step 1:  Importing gamma ray burst data

Data I have used for gamma ray burst was taken form this site below.

https://swift.gsfc.nasa.gov/results/batgrbcat/summary_cflux/summary_general_info/summary_general.txt

In [2]:
column_names = ['GRBname', 'RA_ground', 'DEC_ground']
df_grb = pd.read_csv('/home/astroguy/frb_summerresearch/grb_data_copy.csv', delimiter='|', header = 0)
df_grb.tail(1)

,GRBname,Trig_ID,Trig_time_met,Trig_time_UTC,RA_ground,DEC_ground,Image_position_err,Image_SNR,T90,T90_err,T50,T50_err,Evt_start_sincetrig,Evt_stop_sincetrig,pcode,Trigger_method,XRT_detection,"comment,,,"
1390,GRB041217,100116,124961305.236,2004-12-17T07:28:25.236000,1.647929e+02,-1.794047e+01,1.374749e+00,1.930439e+01,5.668000e+00,7.297123e-01,2.700000e+00,2.512051e-01,-2,18,0.2969,rate trigger,No,",,,"

In [7]:
df_grb_subset = df_grb.iloc[:,[0,4,5]]
df_grb_subset.head(1)

        GRBname     RA_ground       DEC_ground
0  GRB200829A      2.511393e+02     7.236396e+01

###  Step 2: Importing fast radio burst data

In [8]:
columns = ['ra', 'dec', 'dm', 'flux', 'redshift', 'frb', 'l', 'b', 'width', 'fluence']
herta_df = pd.read_csv('herta_frb_catalogue.csv', usecols=columns).replace('-', '0')
herta_df.head(1)

,frb,ra,dec,l,b,dm,flux,width,fluence,redshift
0,FRB 20010125A,19:06:53,-40:37:14,356.64,-20.02,790.3,0.54,0,0,0.7083

In [9]:
herta_subset = herta_df.iloc[:, [0, 1,2]]
herta_subset.head(1)

             frb        ra        dec
0  FRB 20010125A  19:06:53  -40:37:14

In [13]:
def nearest_distance(frb_ra, frb_dec, grb_ra, grb_dec):
    ra_diff = frb_ra - grb_ra
    dec_diff = frb_dec - grb_dec
    dec_avg = (grb_dec + frb_dec)/2
    dist = np.sqrt((ra_diff*np.cos(dec_avg*(np.pi/180)))**2 + (dec_diff)**2)

In [20]:
np.cos(30*(np.pi/180))

0.8660254037844387

In [21]:
np.sqrt(3)/2

0.8660254037844386

In [12]:
k = 0
data_length = len(df_grb_subset.iloc[:,0].values)
print(data_length)
while k <= data_length:
    
    print(k)
    k +=1

1391

TypeError: len() takes exactly one argument (0 given)